<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
 
  <script src="script.js"></script>
</head>

<body id="angular" ng-app='standardDeviationCalculator' ng-controller='standardDeviationCalculatorCtrl'>

	<h1 class="title">Upload your files here!</h1>
	
	<input type="file" name="file" on-read-file="showContent($fileContent)" id="file" class="uploadButton" />
	<label for="file" class="fakeButton">Choose a file</label>
	<h4>Files uploaded: {{files}}<h4>
	
	<h2 class="note"> Please select your desired file to do some nice calculations </h2>
	<h3>Please click on a file to do different things...</h3>
	<div class="uploadedFiles">
		<div class="column">
			<button class="fileButton">File 1</button>
			<button class="childButton" ng-click="calculateSd()">Calculate Mean and Standard Deviation</button>
			
			<table class="contentTable">
				<tbody>
					<th>Contents</th>
					<tr ng-repeat="number in dataFileArray[0]">
						<td>{{number}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="column">
			<button class="fileButton">File 2</button> <!--Replace buttons div ng-repeat with implementation --> 
			<button class="childButton" ng-click="calculateSd()">Calculate Mean and Standard Deviation</button>

			<table class="contentTable">
				<tbody>
					<th>Contents</th>
					<tr ng-repeat="number in dataFileArray[1]">
						<td>{{number}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="results">
		<button class="childButton" ng-click="calculateRegression()">Calculate Regression</button>
		<button class="childButton" ng-click="calculateCorrelation()">Calculate Correlation</button>
		<button class="childButton" ng-click="calculateYk()">Calculate Yk</button>
		<h3>Regression Parameters:</br></br></h3><h4> b0: {{b0Results}}</br>b1: {{b1Results}}</h4>
		<h3>Correlation Coefficients:</br></br></h3><h4> r: {{r2Results}}</br>r2: {{r2Results}}</h4>
		<h3>Yk = {{YkResults}}</h4>
		
	</div>
	
	
	

	<!-- 
	
	<div>


		
			
		</table>
		</br></br>
		<button ng-click="calculateRegression()">Calculate regression</button></br></br>
		</br>
		<h2>b0 = {{b0Results}}</h2>
		<h2>b1 = {{b1Results}}</h2>
		</br>
		<button ng-click="calculateCorrelation()">Calculate Correlation</button></br></br>
		</br>
		<h2>r = {{rResults}}</h2>
		<h2>r2 = {{r2Results}}</h2>
		<button ng-click="calculateYk()">Calculate Yk</button></br></br>
		<h2>Yk = {{YkResults}}</h2>
	</div>
	
	-->
</body>

</html>


                